body {
  margin: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 2%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 20px;
  height: 60px;
}

.nav a {
  text-decoration: none;
  color: #000;
  font-size: 20px;
  font-weight: bold;
}

.nav a:hover {
  font-size: x-large;
  transition: 0.2s;
}

.nav > ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  width: 50%;
}

.hero {
  display: flex;
  justify-content: space-around;
  background-color: rgb(37, 61, 37);
  padding: 2% 4%;
}
.hero > aside > h1 {
  color: darkgoldenrod;
  font-size: xx-large;
  font-weight: bolder;
  margin: 0;
  padding: 0;
}
.hero > aside > h3 {
  color: white;
  font-size: x-large;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

.hero > aside > p {
  color: white;
  font-size: large;
  font-weight: normal;
}
.hero > aside {
  flex-basis: 20%;
  text-align: start;
}
.hero_picture {
  position: relative;
}

.hero > div > img {
  position: absolute;
  width: 25vw;
  height: 40vh;
  border-radius: 5%;
  top: 1vh;
  left: -20vw;
}

.button {
  background-color: rgb(255, 189, 22);
  border: none;
  height: fit-content;
  padding: 15px 20px;
  text-align: start;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
  width: fit-content;
}

.card {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  text-align: start;
  padding: 0;
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
  background-color: rgb(227, 232, 227);
}
.card > div {
  padding: 0 4%;
}

.card > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
}

.card > div > .title {
  display: flex;
  justify-content: space-between;
}
.card > div > .title > h3 {
  color: orange;
  margin: auto 0;
}

.card > div > a {
  text-decoration: none;
  color: #000;
}

.main {
  margin: 7rem 14rem;
}

.card_container {
  padding: 2% 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3%;
}
.main_intro {
  display: flex;
  justify-content: space-between;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2% 5%;
  margin: 2% 25%;
  background-color: rgb(37, 61, 37);
  border-radius: 2%;
  color: white;
  font-size: large;
}

.form > input,
select {
  padding: 2% 1%;
  border-radius: 5px;
  border: none;
  outline: none;
}
